$light-color: #fff;
$dark-color: #333;
$primary-color: #d10024;
$gray-text-color: #b9babc;
$link-color: #2b2d42;
$bg-color: #15161d;
$secondary-bg-color: #1e1f29;
$section-bg-color: #e4e7ed;
$container-width: 74rem;
